
  @import url('https://fonts.googleapis.com/css2?family=Poppins:wght@300;400;500;600;700;800;900&family=Roboto:wght@900&family=Urbanist:wght@300;400;600&display=swap');


  *{

    padding: 0;
    margin: 0;
    box-sizing: border-box;
    font-family: 'Poppins', sans-serif;

  }

  body{

    height: 100vh;
    width: 100%;
    display: flex;
    justify-content: center;
    align-items: center;
    background-color:#610C9F ;
    transition: 0.3s ease-in-out;
  }

  body.slide {

    background-color:#691A40 ;
    transition: 0.3s ease-in-out;
  }

  .container{

    height: 400px;
    width: 800px;
    background-color: rgba(0,0,0,0.125);
    display: flex;
    justify-content: center;
    align-items: center;
    position: relative;

  }

  .container .box{

    height: 480px;
    width: 360px;
    display: flex;
    justify-content: center;
    align-items: center;
    flex-direction: column;
  }

  .container .box h2 {

    color: white;
    margin-bottom: 22px;
  }

  .container .box button{

    padding: 10px 33px;
    background-color: #610C9F;
    border: none;
    outline: none;
    color: white;
    font-size: 18px;
    border-radius: 4px;
    cursor: pointer;

  }


  .container .box-container{

    position: absolute;
    height: 480px;
    width:360px;
    background-color: white;
    left: 40px;
    transition: 0.3s ease-in-out;
    overflow: hidden;
  }


  .slide .box-container {

    left: 400px;
    transition: 0.3s ease-in-out;
  }


  .box-container .signup-form{

    top: 100%;
    transition-delay: 0s;
  }

   .slide .box-container .signup-form {

    top: 0;
    transition-delay: 0.3s;
  }

  .box-container .signin-form{

    top: 0;
    transition-delay: 0s;
  }

   .slide .box-container .signin-form {

    top: -100%;
    transition-delay: 0.3s;
  }



  .box-container .form-container{


    position: absolute;
    height: 100%;
    width: 100%;
    background-color: white;
    display: flex;
    justify-content: center;
    align-items: center;
    flex-direction: column;
  }

  .form-container h3 {

    margin-bottom: 20px;
  }

  .form-container form {

    display: flex;
    flex-direction: column;

  }

  .form-container h3 {

    font-size: 28px;
  }
  .form-container form input{

    margin-bottom: 20px;
    height: 45px;
    width: 320px;
    padding: 8px;
    border: 1.5px solid gray;
    outline: none;
    border-radius: 5px;

  }

  .form-container form input:focus{

    border-color: #610C9F;
  }

  .form-container form input[type="submit"]{

    background-color: #610C9F;
    color: white;
    font-size: 16px;
    font-weight: 600;
    cursor: pointer;
  }